body {
    background-color: #F6F4E8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1D3124;
    padding-left:22%;
    padding-right:10%;
    display:grid;
    gap:20%;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 50px;
}
@media only screen and (max-width: 768px) {
    body {
        display: grid;
        gap: 40%; 
        grid-template-columns: repeat(9, 1fr);
    } 
}

.header, .main {
    width: 95%;
}
.nav {
    grid-column: 1 / span 5;
    grid-row: 1;
    width: 100%;
}
.nav > ul {
    list-style-type: none;
    font-size: 6pt;
    padding: 1px;
    overflow: hidden;
}
.nav > ul > li {
    float: left;
    padding:10px;
    font-size:7pt;
    border-radius: 5px;
}
.header {
    grid-column: 1 / span 4;
    grid-row: 2;
}
.main {
    grid-column: 1 / span 4;
    grid-row: 3 / span 1;
    padding-right: 5%;
    text-align: justify;
}
.sidebar {
    grid-column: 4 / span 2;
    grid-row: 3 / span 3;
    padding: 10px;
    font-size:12pt;
    width: 90%;
}
.sidebar > h4 {
    font-size: 12pt;
    color: #F6F4E8;
}
.sidebar > ul {
    padding-left: 12px;
}
.sidebar > ul > a {
    font-size: 8pt;
}
a {
    text-decoration:none;   
    list-style-type: none;
    color: #F6F4E8;
    font-weight: 800;
}
a:hover {
    color: rgb(243, 131, 131);
}
.sidebar, .nav {
    border-radius: 5px;
    background-color: #1D3124;
}
